* {
	box-sizing: border-box;
}

html,
body,
#root {
	width: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	font-family: 'Trebuchet MS', 'Segoe UI', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	display: block;
}
